@charset "utf-8";
@import url("variables.css");

/* HTML and Body styles */

html {
   font-family: Verdana, Geneva, sans-serif;
}

body {
   background-color: white;
}

/* Flex Layout */


body {
   display: flex;
   flex-flow: column nowrap;
   /*min-height: 100vh; /* Ensure body takes at least the full viewport height */
   /*align-items: flex-start; /* Prevent stretching */
}

header, footer {
   flex-shrink: 0;
}

/* link styles */

.link {

   color: var(--grey);
}

.link:hover, .link:active {
   color: var(--redGrey);
   background-color: var(--transDarkPink);
}

.link:visited {
   color: var(--redGrey);
}

.link.light {
   color: var(--lightPink);
}

.link.light:hover, .link.light:active {
   --redOrange: var(--orangeRed);
   font-weight: 900;
   color: var(--darkHotPink);
   background-color: var(--transLightPink);
}

.link.light:visited {
   color: var(--redOrange);
}

.link.dark {
   color: var(--darkHotPink);
}

.link.dark:hover, .link.dark:active {
   color: var(--lightPink);
   background-color: var(--transDarkHotPink);
}

.link.dark:visited {
   color: var(--darkPurple);
}

/* ===============================
   Mobile Styles: 0px to 640px
   ===============================
*/
@media only screen and (max-width: 640px) {
   body {
      font-size: 14px;
   }
}

/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
@media only screen and (min-width: 641px) {
   body {
      font-size: 16px;
   }
}
