@charset "utf-8";

/* HTML and Body styles */

html {
   font-family: Verdana, Geneva, sans-serif;
}

body {
   background-color: white;
}

/* Flex Layout */


body {
   display: flex;
   flex-flow: column nowrap;
   /*min-height: 100vh; /* Ensure body takes at least the full viewport height */
   /*align-items: flex-start; /* Prevent stretching */
}

header, footer {
   flex-shrink: 0;
}

div#container {
   flex: 1 0 auto;
}

/* ===============================
   Mobile Styles: 0px to 640px
   ===============================
*/
@media only screen and (max-width: 640px) {}

/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
@media only screen and (min-width: 641px) {}
